body {
    font-family: Arial, sans-serif;
    background-color: #F0F2F5;
    margin: 0;
    padding: 0;
}

h2 {
    color: #1877F2;
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}

form {
    background-color: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Menambahkan ini agar padding tidak mempengaruhi lebar total */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1877F2;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #165EAB;
}
